node_modules
.git
dist
build
web-build
coverage
.expo
.expo-shared

*.log
npm-debug.*
yarn-debug.*
yarn-error.*

.vscode
.idea

testing
*.mp4
*.mp3
*.zip
*.tar

android/app/build
ios/build

../backend/**
/backend/**
backend/**

../docs/**
/docs/**
docs/**

../.github/**
/.github/**